@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  .primary-color {
    color: #2d292a;
  }

  .nav-links li {
    font-size: 19px;
    padding-left: 2.0625em;
    display: inline;
    position: relative;
    font-family: "Spinnaker";
    letter-spacing: 0.1em;
  }

  p {
    font-family: "Spinnaker";
    font-size: 19px;
    letter-spacing: 0.1em;
  }

  h1 {
    font-family: "Jura";
    font-size: 54px;
    font-weight: 500;
    letter-spacing: 0.2em;
  }

  h2 {
    font-family: "Jura";
    font-size: 44px;
    font-weight: bold;
  }

  h3 {
    font-family: "Jura";
    font-size: 29px;
  }

  .grid-layout {
    display: grid;
    height: 100%;
    width: 100%;

    /* 
      full-start 0 to 1fr -> 100%
      main-start 0 to 1020px  -> placed to 1020px of the browser
    */
    grid-template-columns:
      [full-start] minmax(0, 1fr) [main-start] minmax(0, 1440px)
      [main-end] minmax(0, 1fr) [full-end];
  }

  /* Main is default column for container */
  .grid-layout > div {
    grid-column: main;
  }

  /* Full is using for full width out of the container */
  .grid-layout > div.full-width {
    grid-column: full;
  }

  .grid-layout > div:nth-child(2) {
    background-color: #1a202c;
    color: white;
  }
}
